<h1>Snack Suggestions</h1>
 
<section class = "suggestions">
 
  <%= form_for(@suggestion) do |f| %>  
    <%= render 'shared/errors' %>
     <section class = "available_suggestions">
        <h3>Available Suggestions:</h3>
        <%= select_tag(:dd_suggestion, options_for_select(@snacks, 999999999)) %> 
      </section>
      <section class = "new_suggestion">  
        <h3>Enter New Suggestion:</h3>       
          <%= f.label :name %>
          <%= f.text_field :name %><br/><br/>
          <%= f.label :purchase_location %>
          <%= f.text_field :location %>
      </section>
      <section class = "create_button">
        <%= f.submit %>
      </section>
  <% end %>
</section>
