<%= form_for(@suggestion) do |f| %>  
  <%= render 'shared/errors' %>
  <%= text_area_tag(:message, @parsed, size: "120x20") %> <br/><p>
    <%= label_tag(:sug_list, "Available Suggestions:") %>
    <%= select_tag(:dd_suggestion, options_for_select(@snacks, 999999999)) %> 
  </p>  
  <p>
    <%= f.label :Enter_new_suggestion %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :purchase_location %>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  

<% end %>



<!--
 <%= form_tag("/suggestions/create", method: "post") do %>
   <%= text_area_tag(:message, @parsed, size: "120x20") %> <br/>
   <p>
   <%= label_tag(:sug_list, "Available Suggestions:") %>
   <%= select_tag(:q, options_for_select(@snacks, 9999)) %> 
     <p>  
       <%= label_tag(:new_sug, "Enter new suggestion:") %> <br/>
       <%= label_tag(:sug_name, "Name:") %>
       <%= text_field_tag(:sug_name) %>
       <%= label_tag(:pur_location, "Purchase location:") %>
       <%= text_field_tag(:pur_location) %>

     </p>
   </p>
   <%= submit_tag("Submit Suggestion") %>
 <% end %>
 -->